html, div {
    background-color: rgb(29, 28, 28);
    color: whitesmoke;
}

#container {
    display: flex;
    justify-content: center;
}

.loading {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.disable-hover {
    pointer-events: none;
}

.table-responsive th {
    font-size: 13px;
    width: 100px;
}
.table-responsive td{
    font-size: 13px;
}
.table-responsive table {
    min-width: 100%;
}
.table-responsive {
    overflow-x: auto; 
    display: flex;
    justify-content: center;
    padding-left: 15px; 
    padding-right: 15px;
}

textarea {
    width: 275px;
    height: 100px;
}


@media (min-width: 830px) and (max-width: 1000px){
    .table-responsive {
        margin-left: 20vw;
    }
}
@media (min-width: 720px) and (max-width: 830px){
    .table-responsive {
        margin-left: 40vw;
    }
}
@media (min-width: 660px) and (max-width: 720px){
    .table-responsive {
        margin-left: 60vw;
    }
}
@media (min-width: 560px) and (max-width: 660px){
    .table-responsive {
        margin-left: 80vw;
    }
}
@media (min-width: 506px) and (max-width: 560px){
    .table-responsive {
        margin-left: 100vw;
    }
}
@media (min-width: 455px) and (max-width: 506px){
    .table-responsive {
        margin-left: 120vw;
    }
}
@media (min-width: 435px) and (max-width: 455px){
    .table-responsive {
        margin-left: 140vw;
    }
}
@media (min-width: 390px) and (max-width: 435px){
    .table-responsive {
        margin-left: 160vw;
    }
}
@media (min-width: 0px) and (max-width: 390px){
    .table-responsive {
        margin-left: 200vw;
    }
}